*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.aboutmain{
    display: flex;
    width: 100vw;
}

.about{
    width: 90%;
    margin: 1.5rem auto;
    /* box-shadow: 0px 1px 10px grey; */
    /* border-radius: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    width:100%;
    /* background-color: rgb(191, 52, 184); */
    text-align: center;
    color: black;
    padding: 0.5rem 0;
    /* border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; */
    font-size: 1rem;
    color: purple;
}

.members1{
    max-width: 1200px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.members2{
    max-width: 1200px;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom: 1.5rem;
}

.teams{
    max-width: 320px;
    max-height: 400px;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    /* font-family:Verdana, Geneva, Tahoma, sans-serif;   */
    margin: 1.2rem; 
    margin-top: 0;
    padding-bottom: 1rem;
}

.teams .profile{
    background:linear-gradient(rgb(31 220 216), rgb(199 99 235));
    height: 4.5rem;
    width: 100%;
    border-top-left-radius:1rem;
    border-top-right-radius:1rem;
}

.teams img{
    transform: translateY(-2.9rem);
    height: 6rem;
    width: 6rem;
    border: 4px solid white;
    border-radius: 4rem;
}

.teams h2{
    margin-top: -2rem;
    font-size: 1.4rem;
    color: red;
    margin-bottom: 0.1rem;
}

.teams h3{
    color: purple;
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 300;
}

.teams p{
    padding: 0.3rem;
    font-size: 0.9rem;
}

.teams .social{
    padding: 0.5rem;
    margin: 0.5rem 0;
}

.teams .social i{
    color: black;
    font-size: 1rem;
    margin: 0 0.5rem;
}

@media only screen and (max-width: 1000px) {
    .members1,.members2{
        flex-wrap: wrap;
    }
}






    




