@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.emergencymain {
    display: flex;
    width: 100vw;
    /* height: 100vh; */
    margin: auto;
}

.emergencyno {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(169 66 237);;
}

.eno {
  border: 1px solid white;
  border-radius: 10px;
  width: 50%;
  padding: 0.5rem;
  background-color: rgb(176, 9, 192);
  text-align: center;
  margin: 1rem auto;
  font-size: 0.7rem;
  font-weight: normal;
  color: white;
}

h2:hover {
  transform: scale(1.1);
  transition: all 0.8s ease-in-out;
}

.footer {
  text-align: center;
  color: aliceblue;
}

img:hover {
  transform: scale(1.1);
  transition: all 0.8s ease-in-out;
}

h4 {
  position: absolute;
  /* bottom: 1rem; */
  left: 47%;
}

@media only screen and (max-width: 600px) {
  .emergencyno {
    width: 100%;
  }

  .eno {
    width: 80%;
  }

  /* .emergencymain{
    height: 200rem;
  } */
}
