*{
    margin: 0;
    padding: 0;
    background-color: rgb(101, 26, 101);
}

.button1{
    padding: 100px;
    background-color: aliceblue;
}

.button1 button{
    color: aliceblue;
    padding: 25px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);
}

.button2{
    padding: 100px;
    background-color: aliceblue;
}

.button2 button{
    color: aliceblue;
    padding: 25px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);
}

.button3{
    padding: 100px;
    background-color: aliceblue;
}

.button3 button{
    color: aliceblue;
    padding: 25px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 1);
}

.yash{
    display: flex;
    align-items: center;
    justify-content: center;
}

.allbtns{
    background: url('./pimpri-chinchwad-PCMC.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.allbtns a{
    color: white;
    text-decoration: none;
}